/* =========================
   Tablet Devices
========================= */
@media screen and (max-width: 992px) {

    /* Navbar */
    .navbar {
        flex-direction: column;
        gap: 30px;
    }

    /* Hero section */
    .hero-title {
        font-size: 3.25rem;
        line-height: 4rem;
    }

    /* =========================
   Quick List Section
========================= */
    .quick-list-wrapper {
        flex-direction: column;
    }

    .quick-list-content {
        max-width: 100%;
        text-align: center;
    }

    /* =========================
   Features Section
========================= */

    .features-wrapper {
        flex-direction: column;
        gap: 60px;
    }

    .features-content {
        width: 100%;
    }

    .features-image {
        width: 100%;
    }

    .experience-badge {
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
    }

    /* =========================
   Facts Section
========================= */
    .facts-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* =========================
   Sponsors Section
========================= */

    .sponsors-wrapper {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
    }
}


/* =========================
   Mobile Devices
========================= */
@media screen and (max-width: 576px) {

    /* Header */
    .header {
        padding-top: 30px;
    }

    /* Navbar */
    .logo {
        font-size: 2rem;
    }

    .nav-links {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .navbar {
        margin-bottom: 60px;
        flex-direction: row;
    }

    /* Hero Section */
    .hero-title {
        font-size: 2.5rem;
        line-height: 3.2rem;
    }

    .hero-text {
        font-size: 0.95rem;
    }

    .primary-btn {
        padding: 16px 22px;
        font-size: 1rem;
    }

    .hero-image {
        margin-top: 40px;
    }

    /* =========================
   Quick List Section
========================= */
    .quick-list-section {
        padding: 60px 0 80px;
    }

    .quick-list-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-title {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    /* =========================
   Features Section
========================= */

    .features-section {
        padding-bottom: 90px;
    }

    .features-title {
        font-size: 2.2rem;
        line-height: 3rem;
        padding-left: 15px;
    }

    .feature-card {
        padding: 24px 20px;
    }

    .feature-card h3 {
        font-size: 1.1rem;
    }

    .experience-badge {
        position: static;
        transform: unset;
        margin-top: 30px;

        padding: 30px 25px;
    }

    .experience-badge h3 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .experience-badge p {
        font-size: 1.2rem;
    }

    /* =========================
   Facts Section
========================= */

    .facts-section {
        padding-bottom: 80px;
    }

    .facts-heading {
        margin-bottom: 50px;
    }

    .facts-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .fact-card {
        padding: 35px 20px;
    }

    .fact-card h3 {
        font-size: 2.2rem;
    }

    .fact-card p {
        font-size: 1rem;
    }

    /* =========================
   Sponsors Section
========================= */

    .sponsors-section {
        padding-bottom: 80px;
    }

    .sponsors-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }

    .sponsor-brand img {
        max-width: 140px;
    }

    /* =========================
   Footer
========================= */

    .footer {
        padding-bottom: 60px;
    }

    .footer-content {
        padding: 30px 16px;
    }

    .footer-content p {
        font-size: 1rem;
        line-height: 1.8rem;
    }
}